# Data Science Tools and Ecosystem

## Introduction
In this notebook, we will explore various tools and ecosystems used in Data Science. We will cover programming languages, libraries, and tools that are essential for data scientists. Additionally, we will include examples of arithmetic expressions and simple code cells to demonstrate basic operations.

**Objectives**



*   Understand the basic tools and languages used in Data Science.
*   Learn about key libraries for data manipulation and machine learning.
*   Explore arithmetic expressions through simple code examples.
*   Familiarize with different Data Science tools and their applications.

## Data Science Languages
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala

## Data Science Libraries
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch

## Data Science Tools
| Tool            | Description                                     |
|-----------------|-------------------------------------------------|
| Jupyter Notebook| Interactive computing environment               |
| RStudio         | Integrated development environment for R        |
| Apache Hadoop   | Framework for distributed storage and processing|
| Apache Spark    | Unified analytics engine for big data processing|
| Tableau         | Data visualization tool                         |
| Power BI        | Business analytics service by Microsoft         |


###Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
print(result)

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
def min_to_hours(minutes):
    hours = minutes / 60
    return hours

print(min_to_hours(200))

3.3333333333333335

##Author
Neha Naik